@charset "utf-8";
/* CSS Document */

/*
@import url('normalize.css');*/
@import url('styles.css');
@import url('page.css');

/*
* {
  box-sizing         : border-box;
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  padding: 0;
  margin: 0;
}
*/
* {
  padding: 0;
  margin: 0;
}
